body {
  margin: 0;
  line-height: normal;
  padding: 0 !important;
}

/* .row {
  background-color: rgba(255, 212, 212, 0.49) !important;
} */

.btn-circle {
  width: 35px;
  height: 35px;
  padding: 6px 0;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin-right: 20px;
  z-index: 2;
}

.btn-outline-primary {
  color: transparent !important;
  border-color: transparent !important;
  background-color: transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: #fff;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
