.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
}
/* .row {
  background-color: rgba(255, 212, 212, 0.49) !important;
} */

/* 右邊側邊欄 */
.offcanvas-end {
  top: 72px !important;
  border-left: 0 !important;
  width: 500px !important;
}

.offcanvas {
  background-image: url(../images/pic/主選單-06.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-color: transparent !important; */
}
.offcanvas-backdrop {
  background-color: transparent !important;
}

/* banner */
.banner-control {
  position: absolute;
  top: 470px;
  left: 0;
  padding-left: 70px;
}
.banner-text-section {
  position: absolute;
  top: 275px;
  left: 30px;
  z-index: 2;
  width: 266px;
  height: 200px;
  background-image: url('../images/pic/內頁\ banner-文字.png');
  background-size: cover;
  background-position: top left;
  background-color: rgba(255, 212, 212, 0.49) !important;
  z-index: 2 !important;
}

.banner-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 596px;
  overflow: hidden;
}

.banner-mask::before {
  content: '';
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  height: 50%;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  background-image: url('../images/pic/內頁banner-05.png');
  background-size: cover;
  background-position: bottom left;
  z-index: 1;
}

.banner-mask img {
  width: 100%;
  height: auto;
}

/* 中間選單 */
.center-menu {
  position: absolute;
  top: 570px;
  left: 0;
  width: 100%;
  height: 420px;
}
.col {
  height: 30px;
  /* background-color: aqua; */
}
.center-menu-mask {
  position: absolute;
  left: 45px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: none;
}
.center-menu-1 {
  /* position: absolute; */
  left: 45px;
  width: 30px;
}
.center-menu-2 {
  margin-left: 13px;
  width: 28px;
  height: 28px;
  display: none;
}
.center-menu-3 {
  margin-left: 30px;
  width: 28px;
  height: 28px;
  display: none;
}
.center-menu-4 {
  margin-left: 15px;
  width: 28px;
  height: 28px;
  display: none;
}
.center-menu-5 {
  margin-left: 10px;
  width: 28px;
  height: 28px;
  display: none;
}
.center-menu .btn {
  width: 100%;
}

/* product-banner */
.product-table {
  position: absolute;
  top: 1219px;
  right: 8px;
  width: 70px;
  height: 70px;
}
.product-table .arrow-up {
  position: absolute;
  margin-left: 27px;
  width: 19px;
  transform: rotate(270deg);
}
.product-table .arrow-left {
  position: absolute;
  margin-left: 5px;
  margin-top: 23px;
  width: 19px;
  transform: rotate(180deg);
}
.product-table .arrow-right {
  position: absolute;
  margin-left: 50px;
  margin-top: 23px;
  width: 19px;
}
.product-table .arrow-down {
  position: absolute;
  margin-left: 27px;
  margin-top: 46px;
  width: 19px;
  transform: rotate(90deg);
}
.product-table .arrow-gray:hover {
  opacity: 0;
}
.product-table .arrow-up-red {
  position: absolute;
  margin-left: 27px;
  width: 19px;
  transform: rotate(90deg);
}
.product-table .arrow-left-red {
  position: absolute;
  margin-left: 5px;
  margin-top: 23px;
  width: 19px;
}
.product-table .arrow-right-red {
  position: absolute;
  margin-left: 50px;
  margin-top: 23px;
  width: 19px;
  transform: rotate(180deg);
}
.product-table .arrow-down-red {
  position: absolute;
  margin-left: 27px;
  margin-top: 46px;
  width: 19px;
  transform: rotate(270deg);
}
/* email-icon */
.email-icon {
  position: absolute;
  top: 1308px;
  right: 0px;
  width: 54px;
  height: 53px;
  cursor: pointer;
}
/* 包裝方式 */
.package {
  position: absolute !important;
  top: 1402px;
  left: 43px;
  width: 680px;
  height: 480px;
  /* background-color: brown; */
}
.package .arrow-left {
  position: absolute;
  margin-left: 16px;
  margin-top: 216px;
  width: 29px;
  transform: rotate(180deg);
}
.package .arrow-right {
  position: absolute;
  right: 16px;
  margin-top: 216px;
  width: 29px;
}
.package .arrow-left-red {
  position: absolute;
  margin-left: 16px;
  margin-top: 216px;
  width: 29px;
}
.package .arrow-right-red {
  position: absolute;
  right: 16px;
  margin-top: 216px;
  width: 29px;
  transform: rotate(180deg);
}
.package .arrow-gray:hover {
  opacity: 0;
}
.package .carousel-control-prev {
  opacity: 100 !important;
}
.package .carousel-control-next {
  opacity: 100 !important;
}
/* product-pic */
.product-pic {
  position: absolute !important;
  top: 1995px;
  left: 20px;
  width: 675px;
  height: 438px;
  /* background-color: brown; */
}
.product-pic-small {
  position: absolute !important;
  top: 2246px;
  left: 550px;
  width: 210px;
  height: 144px;
  background-image: url('../images/pic/產品應用-06.png');
  background-size: cover;
  background-position: top left;
  z-index: 99;
}
.product-pic-control {
  position: absolute !important;
  top: 2406px;
  right: 18px;
  width: 79px;
  /* background-color: brown; */
}
.product-pic-control .arrow-right {
  position: absolute;
  margin-left: 32px;
  margin-top: 4px;
  width: 17px;
}
.product-pic-control .arrow-left {
  position: absolute;
  margin-left: 0px;
  margin-top: 4px;
  width: 17px;
  transform: rotate(180deg);
}
.product-pic-control .arrow-right-red {
  position: absolute;
  margin-left: 32px;
  margin-top: 4px;
  width: 17px;
  transform: rotate(180deg);
}
.product-pic-control .arrow-left-red {
  position: absolute;
  margin-left: 0px;
  margin-top: 4px;
  width: 17px;
}
.product-pic-control .arrow-gray:hover {
  opacity: 0;
}
