@font-face {
  font-family: 'Kallisto Bold';
  src: url('../font/AnekBangla_SemiExpanded-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  margin-top: 0px !important;
  height: 69px;
}

/* 搜尋按鈕 */
.search-btn {
  margin-left: 270px !important;
  width: 55px;
  height: 100%;
}

/* 多語系按鈕 */
.lang-btn {
  /* margin-left: 5px !important; */
  width: 55px;
  height: 100%;
}
.lang-menu {
  min-width: 7rem !important;
}

/* 選單按鈕 */
.menu-btn {
  margin-right: 0px !important;
  width: 84px;
  height: 100%;
  z-index: 1047;
}

/* 右邊側邊欄 */
.offcanvas-end {
  top: 0px !important;
  border-left: 0 !important;
  width: 830px !important;
}

.offcanvas {
  background-color: #fff !important;
}
.offcanvas-body {
  width: 100% !important;
  height: 100vh !important;
  background-image: url(../images/pic/Megamenu1.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: transparent !important;
}
.offcanvas-backdrop {
  background-color: #000 !important;
}
/* 中間選單 */
.center-menu {
  position: absolute;
  top: 1119px;
  left: 134px;
  width: 1202px;
  height: 50px;
  border-bottom: 2px solid #dddddd;
  background-color: #fff;
  opacity: 1;
}
.center-item {
  margin-top: 2px;
  height: 100%;
  padding-top: 12px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -1px;
  cursor: pointer;
}
.center-item-active {
  color: #e03c31;
  border-bottom: 3px solid #e03c31;
}
.center-item:hover {
  color: #e03c31;
  border-bottom: 3px solid #e03c31;
}
.center-item-1 {
  position: absolute;
  left: 243px;
}
.center-item-2 {
  position: absolute;
  left: 408px;
}
.center-item-3 {
  position: absolute;
  left: 585px;
}
.center-item-4 {
  position: absolute;
  left: 733px;
}
.center-item-5 {
  position: absolute;
  left: 866px;
}

/* product-banner */
.product-table {
  position: absolute;
  top: 1228px;
  left: 0;
  width: 100%;
  height: 484px;
  /* background-color: bisque;
  opacity: 0.5; */
}
.product-item {
  position: absolute;
  left: 138px;
  width: 1198px;
  height: 100%;
}
.product-item-1 {
  background-image: url(../images/pic/產品規格.png) !important;
  background-size: cover;
  background-position: top right;
  background-color: transparent !important;
}
.product-item-2 {
  background-image: url(../images/pic/化學成份表.png) !important;
  background-size: cover;
  background-position: top right;
  background-color: transparent !important;
}
.product-item-3 {
  background-image: url(../images/pic/公差表.png) !important;
  background-size: cover;
  background-position: top right;
  background-color: transparent !important;
}
.package,
.product-pic {
  /* position: absolute; */
  width: 652px;
  height: 100%;

  overflow: hidden;
  position: relative;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.package-control,
.product-pic-control {
  position: absolute;
  top: 92px;
  left: 731px;
  width: 200px;
  color: #fff;
  font-size: 32px;
}
.package-control .bi-arrow-right-circle-fill,
.product-pic-control .bi-arrow-right-circle-fill {
  position: relative;
  left: 14px;
}
.product-pic-small {
  position: absolute;
  top: 177px;
  left: 731px;
  width: 468px;
  height: 306px;
  background-image: url(../images/pic/產應用範圍-工業用管.png) !important;
  background-size: cover;
  background-position: top right;
  background-color: transparent !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 36%;
  right: 60px;
  display: none;
  height: 300px;
}

.certification {
  position: absolute;
  top: 1790px;
  left: 375px;
  width: 1000px;
  height: 120px;
  background-color: #fff;
  /* opacity: 0.3;
  border: 1px solid #000; */
}
.cert-container {
  display: flex;
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;
  /* max-width: 1450px !important; */
}

.loop-text {
  font-size: clamp(2.5rem, 8vw, 5.5rem);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0.25em;
}

.loop-text {
  animation: loopText 10s infinite linear;
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
