.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  margin-top: 36px !important;
  margin-right: 4px !important;
}

/* 右邊側邊欄 */
.offcanvas-end {
  top: 107px !important;
  border-left: 0 !important;
  width: 900px !important;
}

.offcanvas {
  background-image: url(../images/pic/YC\ 主選單-06.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-color: transparent !important; */
}
.offcanvas-backdrop {
  background-color: transparent !important;
}

/* 多語系按鈕 */
.lang-btn {
  /* margin-left: 5px !important; */
  width: 55px;
  height: 100%;
}
.lang-menu {
  min-width: 7rem !important;
}

/* banner */
.banner-text-section {
  position: absolute;
  top: 395px;
  left: 45px;
  z-index: 2;
  width: 381px;
  height: 290px;
  background-image: url('../images/pic/內頁\ banner-文字.png');
  background-size: cover;
  background-position: top left;
  background-color: rgba(255, 212, 212, 0.49) !important;
  z-index: 2 !important;
}

.banner-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 728px;
  overflow: hidden;
  /* background-color: aqua !important; */
}

.banner-mask::before {
  content: '';
  position: absolute;
  top: 294px;
  left: 0;
  width: 100%;
  height: 60%;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  background-image: url('../images/pic/內頁banner-05.png');
  background-size: cover;
  background-position: bottom left;
  z-index: 1;
}

.banner-mask img {
  width: 100%;
  height: auto;
}

/* 中間選單 */
.center-menu {
  position: absolute;
  top: 816px;
  left: 0;
  width: 100%;
  height: 420px;
}
.col {
  height: 50px;
  /* background-color: aqua; */
}
.center-menu-mask {
  position: absolute;
  left: 60px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: none;
}
.center-menu-1 {
  /* position: absolute; */
  left: 45px;
  width: 50px;
}
.center-menu-2 {
  margin-top: 7px;
  margin-left: 26px;
  width: 38px;
  height: 38px;
  display: none;
}
.center-menu-3 {
  margin-top: 7px;
  margin-left: 48px;
  width: 38px;
  height: 38px;
  display: none;
}
.center-menu-4 {
  margin-top: 7px;
  margin-left: 30px;
  width: 38px;
  height: 38px;
  display: none;
}
.center-menu-5 {
  margin-top: 7px;
  margin-left: 25px;
  width: 38px;
  height: 38px;
  display: none;
}
.center-menu .btn {
  width: 100%;
}
.center-menu .col {
  cursor: pointer;
}

/* product-banner */
.product-table {
  position: absolute;
  top: 1751px;
  right: 14px;
  width: 93px;
  height: 93px;
  /* background-color: aqua !important; */
}
.product-table .arrow-up {
  position: absolute;
  margin-left: 34px;
  width: 28px;
  transform: rotate(270deg);
}
.product-table .arrow-left {
  position: absolute;
  margin-left: 2px;
  margin-top: 32px;
  width: 28px;
  transform: rotate(180deg);
}
.product-table .arrow-right {
  position: absolute;
  margin-left: 66px;
  margin-top: 32px;
  width: 28px;
}
.product-table .arrow-down {
  position: absolute;
  margin-left: 34px;
  margin-top: 65px;
  width: 28px;
  transform: rotate(90deg);
}
.product-table .arrow-gray:hover {
  opacity: 0;
}
.product-table .arrow-up-red {
  position: absolute;
  margin-left: 34px;
  width: 28px;
  transform: rotate(90deg);
}
.product-table .arrow-left-red {
  position: absolute;
  margin-left: 2px;
  margin-top: 32px;
  width: 28px;
}
.product-table .arrow-right-red {
  position: absolute;
  margin-left: 66px;
  margin-top: 32px;
  width: 28px;
  transform: rotate(180deg);
}
.product-table .arrow-down-red {
  position: absolute;
  margin-left: 34px;
  margin-top: 65px;
  width: 28px;
  transform: rotate(270deg);
}
/* email-icon */
.email-icon {
  position: absolute;
  top: 1877px;
  right: 0px;
  width: 78px;
  height: 78px;
  cursor: pointer;
  /* background-color: aqua !important; */
}
/* 包裝方式 */
#package-anchor {
  position: absolute;
  top: 1877px;
  left: 0;
}
.package {
  position: absolute !important;
  top: 2017px;
  left: 62px;
  width: 976px;
  height: 480px;
  /* background-color: brown; */
}
.package .arrow-left {
  position: absolute;
  margin-left: 23px;
  margin-top: 311px;
  width: 41px;
  transform: rotate(180deg);
}
.package .arrow-right {
  position: absolute;
  right: 23px;
  margin-top: 311px;
  width: 41px;
}
.package .arrow-left-red {
  position: absolute;
  margin-left: 23px;
  margin-top: 311px;
  width: 41px;
}
.package .arrow-right-red {
  position: absolute;
  right: 23px;
  margin-top: 311px;
  width: 41px;
  transform: rotate(180deg);
}
.package .arrow-gray:hover {
  opacity: 0 !important;
}
.package .carousel-control-prev {
  opacity: 100 !important;
}
.package .carousel-control-next {
  opacity: 100 !important;
}
/* product-pic */
#product-anchor {
  position: absolute;
  top: 2715px;
  left: 0;
  background-color: brown;
}
.product-pic {
  position: absolute !important;
  top: 2866px;
  left: 28px;
  width: 958px;
  height: 438px;
  /* background-color: brown; */
}
.product-pic-small {
  position: absolute !important;
  top: 3225px;
  left: 791px;
  width: 291px;
  height: 203px;
  background-image: url('../images/pic/產品應用-06.png');
  background-size: cover;
  background-position: top left;
  z-index: 99;
}
.product-pic-control {
  position: absolute !important;
  top: 3458px;
  right: 60px;
  width: 79px;
  /* background-color: brown; */
}
.product-pic-control .arrow-right {
  position: absolute;
  margin-left: 47px;
  margin-top: 3px;
  width: 23px;
}
.product-pic-control .arrow-left {
  position: absolute;
  margin-left: 0px;
  margin-top: 3px;
  width: 23px;
  transform: rotate(180deg);
}
.product-pic-control .arrow-right-red {
  position: absolute;
  margin-left: 47px;
  margin-top: 3px;
  width: 23px;
  transform: rotate(180deg);
}
.product-pic-control .arrow-left-red {
  position: absolute;
  margin-left: 0px;
  margin-top: 3px;
  width: 23px;
}
.product-pic-control .arrow-gray:hover {
  opacity: 0;
}

#btn-back-to-top {
  position: fixed;
  bottom: 36%;
  right: 49px;
  display: none;
  height: 300px;
}
