.a-1 {
  width: 1470;
  position: relative;
  /* height: 4096px; */
  background-image: url(../images/A首頁.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  margin-top: 36px !important;
  margin-right: 4px !important;
}

/* 右邊側邊欄 */
.offcanvas-end {
  top: 80px !important;
  border-left: 0 !important;
  width: 730px !important;
}

.offcanvas {
  background-image: url(../images/pic/主選單-06.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-color: transparent !important; */
}
.offcanvas-backdrop {
  background-color: transparent !important;
}

/* banner */
.banner-control {
  position: absolute;
  top: 675px;
  left: 90px;
}
.banner-control .btn {
  width: 48px;
}
.banner {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* 關於允強 */
.about-banner {
  position: absolute;
  top: 789px;
  left: 0;
  width: 950px;
  height: 584px;
  background-image: url(../images/pic/原彩度公司圖-05.png);
  background-size: cover;
  background-position: top left;
}
.about-banner:hover {
  opacity: 0;
}
.about-banner-img {
  /* width: 100%; */
}

/* product-banner */
.product-banner {
  position: absolute;
  top: 1516px;
  left: 741px;
  width: 693px;
  height: 312px;
  background-image: url(../images/pic/滑鼠移入前-有縫構造管-07.png);
  background-size: cover;
  background-position: top left;
}
.product-banner:hover {
  opacity: 0;
}
/* footer-banner */
.footer-banner {
  position: absolute;
  top: 3002px;
  left: 0;
  width: 100%;
  height: 415px;
  background-image: url(../images/pic/企業永續發展-05.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer-text */
.footer-text {
  opacity: 0;
  font-size: 70px;
  letter-spacing: 6px;
  margin-top: 254px;
  margin-left: 415px;
  color: #fff;
  font-family: 'Heiti TC' !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 36%;
  right: 49px;
  display: none;
  height: 300px;
}
